* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

.tasks{
  border: 2px solid red;
  display: flex;
  column-gap: 100px;
  padding: 120px;
 }
 
 .task-list{
   height: 100%;
   width: 700px;
   background-color: rgb(151, 151, 151);
 }