* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1, h2 {
  font-size: xx-large;
  text-align: center;
  color: #333333;
}
.add-task{
  text-align: center;
}

.btn {
  position: absolute;
  display: inline-block;
  font-size: xx-large;
  padding: 0rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #59aa45;
  color: white;
  border: 1px solid #000000;
  margin-top: 1px;
  margin-left: 3px;

}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.completed-btn {
  width: 58PX;
  height: 45PX;
  position: absolute;
  font-size: large;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ff4800;
  color: white;
  border: 1px solid #000000;
  margin-left: 1px;
  padding: 0rem .1rem;

}

.completed-btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}
p{
  font-size: x-large;
}

ul{
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}
li{
  font-size: large;
}


.item{
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #dfdfdf;
  padding: 0.5rem 0 1rem 2rem;
  margin: 0.5rem 4rem;
  
}

.tasks{
 display: flex;
 column-gap: 100px;
 padding: 120px;
}

.task-list{
    border-radius: 10px;
  height: 100%;
  width: 700px;
  background-color: rgb(151, 151, 151);
}

.todo{
  border-radius: 10px;
  height: 100%;
  min-height: 620px;
  width: 700px;
  background-color: rgb(187, 189, 187);
}
.todo-header {
  text-align: center;
}